@{
    ViewData["Title"] = "Join Confirmation";
}

<div class="container py-5 text-center">
    <h2 class="text-success">Thank you for your interest!</h2>
    <p class="lead mt-3">
        An email has been sent to our admin. We will get back to you shortly.
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mt-4">Back to Home</a>
</div>
